.header {
    text-align: center;
    margin: 0;
    padding: 50px;
    color: rgb(94, 94, 252);
}

aside {
    width: 30%;
}

.uvi {
    text-align: center;
    width: 25%;
}

.col-10 {
    max-width: 15%;
}